body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    position: relative;
}

.testimonial-container{
    position: relative;
    width: 500px;
    height: 100px;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    color: white;
}

.username {
    font-size: 13px;
    font-weight: 100;
}

img  {
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}